
## <summary>policy for cryptorescue</summary>


########################################
## <summary>
##	Transition to cryptorescue.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`cryptorescue_domtrans',`
	gen_require(`
		type cryptorescue_t, cryptorescue_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, cryptorescue_exec_t, cryptorescue_t)
')


########################################
## <summary>
##	Execute cryptorescue server in the cryptorescue domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`cryptorescue_initrc_domtrans',`
	gen_require(`
		type cryptorescue_initrc_exec_t;
	')

	init_labeled_script_domtrans($1, cryptorescue_initrc_exec_t)
')


########################################
## <summary>
##	Search cryptorescue lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`cryptorescue_search_lib',`
	gen_require(`
		type cryptorescue_var_lib_t;
	')

	allow $1 cryptorescue_var_lib_t:dir search_dir_perms;
	files_search_var_lib($1)
')

########################################
## <summary>
##	Read cryptorescue lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`cryptorescue_read_lib_files',`
	gen_require(`
		type cryptorescue_var_lib_t;
	')

	files_search_var_lib($1)
	read_files_pattern($1, cryptorescue_var_lib_t, cryptorescue_var_lib_t)
')

########################################
## <summary>
##	Manage cryptorescue lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`cryptorescue_manage_lib_files',`
	gen_require(`
		type cryptorescue_var_lib_t;
	')

	files_search_var_lib($1)
	manage_files_pattern($1, cryptorescue_var_lib_t, cryptorescue_var_lib_t)
')

########################################
## <summary>
##	Manage cryptorescue lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`cryptorescue_manage_lib_dirs',`
	gen_require(`
		type cryptorescue_var_lib_t;
	')

	files_search_var_lib($1)
	manage_dirs_pattern($1, cryptorescue_var_lib_t, cryptorescue_var_lib_t)
')


########################################
## <summary>
##	All of the rules required to administrate
##	a cryptorescue environment
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	Role allowed access.
##	</summary>
## </param>
## <rolecap/>
#
interface(`cryptorescue_admin',`
	gen_require(`
		type cryptorescue_t;
		type cryptorescue_initrc_exec_t;
		type cryptorescue_var_lib_t;
	')

	allow $1 cryptorescue_t:process { ptrace signal_perms };
	ps_process_pattern($1, cryptorescue_t)

	cryptorescue_initrc_domtrans($1)
	domain_system_change_exemption($1)
	role_transition $2 cryptorescue_initrc_exec_t system_r;
	allow $2 system_r;

	files_search_var_lib($1)
	admin_pattern($1, cryptorescue_var_lib_t)

')

