policy_module(cryptorescue, 1.100.1)

########################################
#
# Declarations
#

type cryptorescue_t;
type cryptorescue_exec_t;
init_daemon_domain(cryptorescue_t, cryptorescue_exec_t)

permissive cryptorescue_t;

type cryptorescue_initrc_exec_t;
init_script_file(cryptorescue_initrc_exec_t)

type cryptorescue_conf_t;
files_type(cryptorescue_conf_t)

type cryptorescue_var_lib_t;
files_type(cryptorescue_var_lib_t)

type cryptorescue_var_run_t;
files_type(cryptorescue_var_run_t)

type cryptorescue_port_t;
corenet_port(cryptorescue_port_t)

########################################
#
# cryptorescue local policy
#
allow cryptorescue_t self:process { fork };

allow cryptorescue_t self:fifo_file rw_fifo_file_perms;
allow cryptorescue_t self:unix_stream_socket create_stream_socket_perms;

manage_dirs_pattern(cryptorescue_t, cryptorescue_conf_t, cryptorescue_conf_t)
manage_files_pattern(cryptorescue_t, cryptorescue_conf_t, cryptorescue_conf_t)

manage_dirs_pattern(cryptorescue_t, cryptorescue_var_lib_t, cryptorescue_var_lib_t)
manage_files_pattern(cryptorescue_t, cryptorescue_var_lib_t, cryptorescue_var_lib_t)
files_var_lib_filetrans(cryptorescue_t, cryptorescue_var_lib_t, { dir file })

manage_dirs_pattern(cryptorescue_t, cryptorescue_var_run_t, cryptorescue_var_run_t)
manage_files_pattern(cryptorescue_t, cryptorescue_var_run_t, cryptorescue_var_run_t)

sysnet_dns_name_resolve(cryptorescue_t)
corenet_all_recvfrom_unlabeled(cryptorescue_t)

allow cryptorescue_t self:tcp_socket create_stream_socket_perms;
corenet_tcp_sendrecv_generic_if(cryptorescue_t)
corenet_tcp_sendrecv_generic_node(cryptorescue_t)
corenet_tcp_sendrecv_all_ports(cryptorescue_t)
corenet_tcp_bind_generic_node(cryptorescue_t)

gen_require(`
    type cryptorescue_port_t;
')
allow cryptorescue_t cryptorescue_port_t:tcp_socket name_bind;

gen_require(`
    type cryptorescue_port_t;
')
allow cryptorescue_t cryptorescue_port_t:tcp_socket name_connect;

domain_use_interactive_fds(cryptorescue_t)

files_read_etc_files(cryptorescue_t)

miscfiles_read_localization(cryptorescue_t)

sysnet_dns_name_resolve(cryptorescue_t)

allow cryptorescue_t cryptorescue_exec_t:file execute_no_trans;
allow cryptorescue_t self:process setsched;
corecmd_exec_ls(cryptorescue_t)
corenet_tcp_connect_http_port(cryptorescue_t)
dev_read_urand(cryptorescue_t)
fs_getattr_xattr_fs(cryptorescue_t)
kernel_read_system_state(cryptorescue_t)
